<!-- Durchläuft das Array für die player und erstellt für jeden Spieler einen neuen div 100px unter dem vorherigen, damit diese untereinander angezeigt werden -->
<app-player 
*ngFor="let player of game.players; let i = index;" [ngStyle]="{'top.px': 100 + (i *120)}" 
    [name]="player"
class="player-position"></app-player>

<div class="field">

    <div class="card-stack">
        <!-- Cardstack -->
        <img [ngStyle]="{'right.px': i * 5}" *ngFor="let c of [0, 1, 2, 3]; let i = index;" src="/assets/img/cards/card_cover.png">
        <img (click)="takeCard()" class="top-card" style="right: 25px" src="/assets/img/cards/card_cover.png">
        
        <!-- Stack for played cards -->
        <img *ngFor="let card of game.playedCards" class="played-card" src="/assets/img/cards/{{ card }}.png"> <!-- Zeigt die gezogenen Karten an -->
        
        <!-- Current card (Animation) -->
        <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-card" style="right: 25px" src="/assets/img/cards/{{ currentCard }}.png"><!-- *ngIf um pickCardAnimation auf true zu setzen -->
        
    
    </div>

</div>
